@import "tailwindcss";
body{
  /* background-color: #f8efe5; */
  background-image: url('../public/disco2.jpg');
  height: 100vh;
  background-position: center;
}

@layer base {
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  .font-vibes {
    font-family: 'Great Vibes', cursive;
  }
  .font-edu-cursive {
    font-family: 'Edu NSW ACT Cursive', cursive;
  }

  .font-edu-hand {
    font-family: 'Edu NSW ACT Hand Pre', cursive;
  }

  .font-ibm{
      font-family: "IBM Plex Serif", serif;
  }

.font-plex {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.font-dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-chicle{
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;
}

}

